#content{
	margin:auto;
	width: 1000px;  
	height: 425px;  
}  
#tab_bar{
	margin:0 auto;
	width: 400px;  
	height: 20px;
}  
#tab_bar ul{  
	padding: 0px;  
	margin: 0px;  
	height: 20px;  
	text-align: center;  
}  
#tab_bar li{  
	list-style-type: none;  
	float: left;  
	width: 133.3px;  
	height: 20px;
	background-color:#FFF;
}  
.tab_css {  
	width: 1000px;  
	height: 400px;  
	background-color: #FFF;  
	display: none;  
	float: left;  
}  